<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>middle</title>
    <link rel="stylesheet" href="css\middle.css">
</head>

<body>
    <div class="container-user_id">
        <p id="display_id" style="display: flex;justify-content:center;color:white;margin-right: 100px;">
            <%= user_id %>
        </p>
        <button id="log_out" class="logout">Log Out</button>
    </div>
    <div class="notices">
        <p class="rainbow-glow" id="notice"> Results will be available after 6:00 pm today!!!</p>
    </div>
    <div class="container-button" style="display: flex; padding:5px">
        <button type="button" class="button-85 results" id="result_button" disabled>results</button>
        <button type="button" class="button-85" id="collages_order">select collages</button>
    </div>
    <div class="container-results">
        <p id="show_results" class="rainbow-glow"></p>
    </div>
    <script src="js\middle.js">
    </script>
</body>

</html>