<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css\sign_up.css">
</head>

<body>
    <div class="main_container">
        <form action="/submit-form" method="post" id="user_form">
            <div class="name_input">
                <input type="text" class="first_name" placeholder="first name" name="first_name" required>
                <input type="text" class="last_name" placeholder="last name">
            </div>
            <div class="contact_details">
                <input type="tel" class="phone_no" name="phone_number" placeholder="phone numer">
                <input type="email" class="email" name="email" placeholder="email" required>
            </div>
            <div class="user_id">
                <input type="text" class="user_id" name="user_id" id="user_id" placeholder="User ID" required>
                <input type="number" class="rank" name="rank" placeholder="rank" id="rank" required>
                <div class="aval-container">
                    <p id="user-availability" class="available" name="user-aval"></p>
                    <p id="rank-availability" class="available" name="ranl-aval"></p>
                </div>

            </div>
            <div class="password_setup">
                <input type="password" class="create_password" name="password" placeholder="enter a password" id="password" required>
                <input type="password" class="conform_password" placeholder="conform password" id="cnf_password" required>

            </div>
            <div>
                <h1 id="alert"></h1>
            </div>
            <input type="submit" value="Submit" class="sign_up" id="sign_up" disabled>
        </form>
        <script src="js\sign_up.js"></script>
    </div>
</body>

</html>