<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1-Minute Countdown</title>
    <link rel="stylesheet" href="css\submit.css">
</head>

<body>

    <div id="countdown">Loading countdown...</div>
    <button type="button" id="submitBtn" disabled>Submit</button>

    <!-- Container to display users and their corresponding colleges -->
    <div id="userList"></div>

    <script src="js\submit.js">
    </script>

</body>

</html>